CompileFlags:
  CompilationDatabase: "."
  Compiler: "C:/msys64/ucrt64/bin/g++.exe"
  Add:
    - "--target=x86_64-w64-mingw32"
    - "-std=c++20"
    - "-DMINGW_HAS_SECURE_API=1"
    - "-DQT_CORE_LIB"
    - "-DQT_GUI_LIB"
    - "-DQT_WIDGETS_LIB"
    - "-DQT_SQL_LIB"
    - "-DQT_PRINTSUPPORT_LIB"
    - "-DUNICODE"
    - "-D_UNICODE"
    - "-isystem"
    - "C:/msys64/ucrt64/include/c++/16.1.0"
    - "-isystem"
    - "C:/msys64/ucrt64/include/c++/16.1.0/x86_64-w64-mingw32"
    - "-isystem"
    - "C:/msys64/ucrt64/include/c++/16.1.0/backward"
    - "-isystem"
    - "C:/msys64/ucrt64/lib/gcc/x86_64-w64-mingw32/16.1.0/include"
    - "-isystem"
    - "C:/msys64/ucrt64/include"
    - "-isystem"
    - "C:/msys64/ucrt64/include/qt6"
    - "-isystem"
    - "C:/msys64/ucrt64/include/qt6/QtCore"
    - "-isystem"
    - "C:/msys64/ucrt64/include/qt6/QtGui"
    - "-isystem"
    - "C:/msys64/ucrt64/include/qt6/QtWidgets"
    - "-isystem"
    - "C:/msys64/ucrt64/include/qt6/QtSql"
    - "-isystem"
    - "C:/msys64/ucrt64/include/qt6/QtPrintSupport"
    - "-I"
    - "C:/Users/mujah/OneDrive/Desktop/New_Pharmacy/src"
    - "-I"
    - "C:/Users/mujah/OneDrive/Desktop/New_Pharmacy/build/PakPharmacyPOS_autogen/include"
